<h1 class="history-title">Tu historial de compra</h1> 

<section class="historyContainer">
    {{#if user.purchaseHistory}}
        {{#each user.purchaseHistory}}
        <div class="buyInformation">
            <hr>
<p><strong>Orden compra:</strong> {{this.code}}</p>
            <p><strong>Fecha:</strong> {{this.purchase_datetime}}</p>
            <p><strong>Usuario:</strong> {{this.purchaser}}</p>
            {{#each this.products}}
          <p><strong>Productos:</strong> {{this.title}} x{{this.quantity}}</p>
        {{/each}}
            <p><strong>Monto:</strong> {{this.amount}}</p>
        </div>
            
            <hr>
        {{/each}}
    {{else}}
        <p>No hay historial de compras.</p>
    {{/if}}
</section>